/*
 *= require_tree .
 *= require_self
 */

/* ===== リセット ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== 全ページ共通 ===== */
body {
  min-height: 100vh;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  background-color: #fffaf7;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


/* ===== footer ===== */
.site-footer {
  margin-top: 80px;
  padding: 24px 16px;

  text-align: center;
  font-size: 12px;
  color: #999;

  background: linear-gradient(
    to bottom,
    #fffaf7 100%
  );
}
.site-footer {
  border-top: 1px solid rgba(0,0,0,0.05);
}